# -*- shell-script -*-
#
# Zsh Options
#

export LISTPROMPT	      # in order to scroll if completion list is too big

#Options 
#http://zsh.dotsrc.org/Doc/Release/zsh_15.html#SEC83

setopt auto_cd		      # a commande like % /usr/local is equivalent to cd /usr/local
setopt nohup            # don't send HUP signal when closing term session
setopt extended_glob	   # in order to use #, ~ and ^ for filename generation
setopt always_to_end	   # move to cursor to the end after completion
setopt notify		      # report the status of backgrounds jobs immediately
setopt correct		      # try to correct the spelling if possible
setopt rmstarwait	      # wait 10 seconds before querying for a rm which contains a *
setopt printexitvalue   # show the exit-value if > 0
setopt auto_pushd       # Always push directory in stack
setopt pushdminus       # Invert the behavior of cd -<tab> cd +<tab>

setopt autolist #list choices on an anbiguous completion
setopt append_history #append history file rather than overwriting it
setopt automenu #display completion menu by pression tab repeatedly
setopt autoparamkeys #automaticaly add a space after a parameter
setopt autoparamslash #add a slash after a dirname
setopt autoremoveslash #remove the slash if it's the last parameter
setopt caseglob #make globbing case sensitive
setopt chasedots #remove useless dots (like foo/.. beeing replaced by .)
setopt clobber #allow > to truncate file and >> to create file
setopt completeinword #complete the end of the line while the cursor stay in the work
setopt glob #perform globbing
setopt histreduceblanks #remove superfluous blanks in history
setopt histsavenodups #remove older similar command in history
setopt multios #perform implicit tees or cats when multiple redirections (`date > foo | cat` for example)




export DIRSTACKSIZE=20  # Number of directory to keep in the stack

# Don't erase file with >, use >| (overwrite) or >> (append) instead 
set -C

# Watch new users
watch=(all)
LOGCHECK=5
